In [1]:
import numpy as np
import pandas as pd
from bs4 import BeautifulSoup

In [3]:
import requests

In [4]:
url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/netflix_data_webpage.html"
data  = requests.get(url).text

Parse the html data using beautiful_soup.

In [5]:
soup = BeautifulSoup(data, 'html5lib')

In [6]:
netflix_data = pd.DataFrame(columns=["Date", "Open", "High", "Low", "Close", "Volume"])

In [7]:
# First we isolate the body of the table which contains all the information
# Then we loop through each row and find all the column values for each row
for row in soup.find("tbody").find_all('tr'):
    col = row.find_all("td")
    date = col[0].text
    Open = col[1].text
    high = col[2].text
    low = col[3].text
    close = col[4].text
    adj_close = col[5].text
    volume = col[6].text
    
    # Finally we append the data of each row to the table
    netflix_data = netflix_data.append({"Date":date, "Open":Open, "High":high, "Low":low, "Close":close, "Adj Close":adj_close, "Volume":volume}, ignore_index=True)

In [8]:
netflix_data.head()

           Date    Open    High     Low   Close       Volume Adj Close
0  Jun 01, 2021  504.01  536.13  482.14  528.21   78,560,600    528.21
1  May 01, 2021  512.65  518.95  478.54  502.81   66,927,600    502.81
2  Apr 01, 2021  529.93  563.56  499.00  513.47  111,573,300    513.47
3  Mar 01, 2021  545.57  556.99  492.85  521.66   90,183,900    521.66
4  Feb 01, 2021  536.79  566.65  518.28  538.85   61,902,300    538.85

In [9]:
read_html_pandas_data = pd.read_html(url)

In [10]:
read_html_pandas_data = pd.read_html(str(soup))

In [11]:
netflix_dataframe = read_html_pandas_data[0]

netflix_dataframe.head()

           Date    Open    High     Low  Close* Adj Close**     Volume
0  Jun 01, 2021  504.01  536.13  482.14  528.21      528.21   78560600
1  May 01, 2021  512.65  518.95  478.54  502.81      502.81   66927600
2  Apr 01, 2021  529.93  563.56  499.00  513.47      513.47  111573300
3  Mar 01, 2021  545.57  556.99  492.85  521.66      521.66   90183900
4  Feb 01, 2021  536.79  566.65  518.28  538.85      538.85   61902300

What is the content of the title attribute:

In [12]:
soup.title

Using beautiful soup extract the table with historical share prices and store it into a dataframe named amazon_data. The dataframe should have columns Date, Open, High, Low, Close, Adj Close, and Volume. Fill in each variable with the correct data from the list col.

In [16]:
amazon_data = pd.DataFrame(columns=["Date", "Open", "High", "Low", "Close","Adj Close", "Volume"])

for row in soup.find("tbody").find_all("tr"):
    col = row.find_all("td")
    date =col[0].text
    Open =col[1].text
    high =col[2].text
    low =col[3].text
    close =col[4].text
    adj_close =col[5].text
    volume =col[6].text
    
    amazon_data = amazon_data.append({"Date":date, "Open":Open, "High":high, "Low":low, "Close":close, "Adj Close":adj_close, "Volume":volume}, ignore_index=True)

In [17]:
amazon_data.head()

           Date    Open    High     Low   Close Adj Close       Volume
0  Jun 01, 2021  504.01  536.13  482.14  528.21    528.21   78,560,600
1  May 01, 2021  512.65  518.95  478.54  502.81    502.81   66,927,600
2  Apr 01, 2021  529.93  563.56  499.00  513.47    513.47  111,573,300
3  Mar 01, 2021  545.57  556.99  492.85  521.66    521.66   90,183,900
4  Feb 01, 2021  536.79  566.65  518.28  538.85    538.85   61,902,300

What is the name of the columns of the dataframe

In [18]:
amazon_data.columns

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume'], dtype='object')

What is the Open of Jun 01, 2019 of the dataframe?

In [19]:
amazon_data.loc[amazon_data["Date"]=="Jun 01, 2019"]

            Date    Open    High     Low   Close Adj Close       Volume
24  Jun 01, 2019  343.56  375.00  332.65  367.32    367.32  111,052,000

 What is the Open of the last row of the amazon_data dataframe?

In [20]:
amazon_data.tail(5)

            Date    Open    High     Low   Close Adj Close       Volume
65  Jan 01, 2016  109.00  122.18   90.11   91.84     91.84  488,193,200
66  Dec 01, 2015  124.47  133.27  113.85  114.38    114.38  319,939,200
67  Nov 01, 2015  109.20  126.60  101.86  123.33    123.33  320,321,800
68  Oct 01, 2015  102.91  115.83   96.26  108.38    108.38  446,204,400
69  Sep 01, 2015  109.35  111.24   93.55  103.26    103.26  497,401,200

In [21]:
amazon_data.loc[amazon_data["Date"]=="Sep 01, 2015"]

            Date    Open    High    Low   Close Adj Close       Volume
69  Sep 01, 2015  109.35  111.24  93.55  103.26    103.26  497,401,200

In [27]:
amazon_data[["Open"]][max]

0     504.01
1     512.65
2     529.93
3     545.57
4     536.79
       ...
65    109.00
66    124.47
67    109.20
68    102.91
69    109.35
Name: Open, Length: 70, dtype: object